# Compiled Object files
*.slo
*.lo
*.o
*.obj
CppNumericalSolvers
ASA_CG-3.0

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main
test

# Eigen3
/matlab-bindings/eigen
eigen
gtest

# Matlab 
*.m~
*.mexa64
*.mexa32
*.mexw64
*.mexw32
*.mexmaci64
*.mexglx
